*{
  color:white;
}

.gameover{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.96);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
  z-index:999;
}

.gameover h1{
  font-size:clamp(40px,10vw,80px);
}

.gameover button{
  padding:20px 35px;
  font-size:28px;
  background:#6c5ce7;
  color:white;
}

.hidden{
  display:none;
}

@media(max-width:600px){

  .stats{
    font-size:20px;
  }

  select{
    width:100%;
    font-size:22px;
  }

  input{
    font-size:30px;
  }

  .main-btn{
    font-size:28px;
  }
}
